{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!-- ====== Banner Start ====== -->
<section class="ud-page-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-banner-content">
          <h1>Create Blog</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Banner End ====== -->

<!-- ====== Form Start ====== -->
<div class="container" style="margin-top: 20px;">
  <form action="createrecord" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="" class="form-label">BlogName</label>
      <input type="text" class="form-control" name="blogname">
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Description</label><br>
      <textarea name="desc" rows="10" cols="60"></textarea>
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Content</label><br>
      <textarea name="content" rows="10" cols="60"></textarea>
    </div>

    <div class="mb-3" hidden>
      <label for="" class="form-label">Writer</label>
      <input type="text" class="form-control" name="writer" value="{{user.username}}">
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Category</label>
      <select name="category">
        {% for cate in categories %}
        <option value="{{cate.id}}">{{cate.name}}</option>
        {% endfor %}
      </select>
    </div>

<!--     <div class="mb-3">
      <label for="image" class="form-label" accept="image/png, image/jpeg">Image</label><br>
      <input type="file" name="image">
    </div>
 -->
    <input type="submit" value="Submit" class="btn btn-primary mt-2 mb-3">
  </form>
</div>
<!-- ====== Form End ====== -->
{% endblock %}